<!DOCTYPE html>
<html>
  <head>
    <% settings.cssFiles.forEach(function(file) { %>
      <link href="<%- file %>?v=<%= settings.version %>" rel="stylesheet" />
    <% }); %>

    <title><%- title %></title>
    <link rel="icon" type="image/png" href="../img/favicon.png">

    <% settings.jsFiles.forEach(function(file) { %>
      <script src="<%- file %>?v=<%= settings.version %>"></script>
    <% }); %>
  </head>
  <body>
<div class="wrapper">
    <header class="navbar navbar-static-top bs-docs-nav navbar-inverse" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Hello World</span>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Link One</a>
            </li>
            <li>
              <a href="#">Link Two</a>
            </li>

          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%- body %>
    </div> <!-- wrapper -->


</div>

</body>
</html>